*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
} 
.video{
    position: relative;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    z-index: -1;
    filter: blur(0);
}
.video#back.active{
    filter: blur(10px);
}
.videosrc{
    position: absolute;
    width: 100%;
    top: 0;
}
.login{
    position: relative;
    justify-content: center;
    width: 40%;
    margin: auto;
    top: 100px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    height: 400px;
    backdrop-filter: blur(10px);
}
.login:hover{
    transition: 1s;
    box-shadow: 0 0 10px 5px black;
    /* backdrop-filter: blur(0); */
}
.login:hover ~ .videosrc{
    filter: blur(10px);
    /* backdrop-filter: blur(10px); */
}
.name{
    color: grey;
    margin-top: 60px;
    /* padding-top: 30px; */
    /* background-color: black */
}
.text{
    width: 60%;
    /* border: none */
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    border-bottom: solid 1px grey;
    color: grey;
}
.link{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    /* background-color: black; */
    color: grey;
    margin: 80px;   
    position: relative;
}
a:hover{
    text-decoration: underline;
}
.button{
    position:relative;
    top: 50px;
}
button{
    border: 1px solid black;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: medium;
    color: black;
    background-color: cornflowerblue;

}